.container-fluid-wrap {
    background: grey;
    opacity: 0.5;
    height: 70px;
    margin: 0;
}

.container-fluid {
    padding: 0 10% 0 10%;
}

a span {
    width: 20px;
    height: 50px;
    background-color: black;
    border-radius: 10px;
}
