<div id="container-fluid-top" class="container-fluid-wrap">
</div>
<div class="container-fluid">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Thrilling Activities</h5>
              <p class="card-text">Test data</p>
              <div class="card-footer">
                <nav>
                  <a class="btn btn-primary" routerLink="/thrilling-activities">View Details</a>
                </nav>
              </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Gallery</h5>
              <p class="card-text">Test data</p>
              <div class="card-footer">
                <nav>
                  <a class="btn btn-primary" routerLink="/thrilling-activities">View Details</a>
                </nav>
              </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Accomodation</h5>
              <p class="card-text">Test data</p>
              <div class="card-footer">
                <nav>
                  <a class="btn btn-primary" routerLink="/thrilling-activities">View Details</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(47).jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Packages</h5>
              <p class="card-text">Test data</p>
              <div class="card-footer">
                <nav>
                  <a class="btn btn-primary" routerLink="/thrilling-activities">View Details</a>
                </nav>
              </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(47).jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Climate</h5>
              <p class="card-text">Test data</p>
              <div class="card-footer">
                <nav>
                  <a class="btn btn-primary" routerLink="/thrilling-activities">View Details</a>
                </nav>
              </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(47).jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">How To Reach Us</h5>
              <p class="card-text">Test data</p>
              <div class="card-footer">
                <nav>
                  <a class="btn btn-primary" routerLink="/thrilling-activities">View Details</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>