.container-fluid-wrap {
    background: grey;
    opacity: 0.5;
    height: 70px;
    margin: 0;
}

.container-fluid {
    padding: 0 10% 0 10%;
}

a span {
    width: 20px;
    height: 50px;
    background-color: black;
    border-radius: 10px;
}

#view-details {
    color: white;
}

nav#breadcrumb {
    margin: 5%;
}

#home-text {
    margin: 2% 13% 0 13%;
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
}

#welcome-header {
    color: black;
}

#caption {
    float: right;
}

li p {
    color: gray;
}

.card-title {
    font-weight: bolder;
    font-size: 15px;
}

@media only screen and (max-width: 500px) {
    #welcome-header {
        font-size: 25px;
    }
    li p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 575px) {
    a span {
        height: 100%;
        margin-top: 700px;
        background-color: black;
        border-radius: 10px;
        margin-left: 18%;
    }
    a#carousel-control {
        height: 800px;
        margin-top: -150px;
        margin-left: -2%;
    }
}